<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Admin Login</title>
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-b-160 p-t-50">
        <form method="post" class="login100-form validate-form">
          <span class="login100-form-title p-b-43">Admin Login</span>

          <!-- Account Address Input -->
          <div class="wrap-input100 validate-input" data-validate="Username is required">
            <input class="input100" type="text" name="address" id="address" />
            <span class="label-input100">Account Address</span>
          </div>

          <!-- Sign In Button -->
          <div class="container-login100-form-btn">
            <button type="submit" class="login100-form-btn">Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
