<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Generate Certificate</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
  </head>
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100 p-b-160 p-t-50">
          <form method="post" class="login100-form validate-form">
            <span class="login100-form-title p-b-43">Generate Certificate</span>
            
            <div class="wrap-input100" style="width: 100%">
              <input class="input100" type="text" name="email" required />
              <span class="label-input100">Student Email</span>
            </div>
            <div class="wrap-input100" style="width: 100%">
              <input class="input100" type="text" name="course" required />
              <span class="label-input100">Course</span>
            </div>
            <div class="wrap-input100" style="width: 100%">
              <input class="input100" type="text" name="dur" required />
              <span class="label-input100">Duration</span>
            </div>
            <input type="hidden" name="instituteAddress" value="<%= id %>" />
            
            <div class="container-login100-form-btn">
              <button type="submit" class="login100-form-btn">
                Generate Certificate
              </button>
            </div>
          </form>
         
        </div>
      </div>
    </div>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
